<ng-template #updating>
  <div class="text-center">
    <mat-spinner></mat-spinner>
  </div>
</ng-template>
<div *ngIf="!isUpdating; else updating">
  <form [formGroup]="trainingEventForm" (ngSubmit)="addEvent()">
    <mat-spinner *ngIf="isUpdating"></mat-spinner>
    <div class="content-container">
      <mat-form-field appearance="fill">
        <mat-label>Description:</mat-label>
        <input matInput formControlName="description" />
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Date:</mat-label>
        <input formControlName="date" matInput [matDatepicker]="picker" />
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
      <div class="button-container">
        <button mat-raised-button (click)="close()">Close</button>
        <button
          mat-raised-button
          type="submit"
          [disabled]="!trainingEventForm.valid"
        >
          Submit
        </button>
      </div>
    </div>
  </form>
</div>
