<mwl-demo-utils-calendar-header
  [(view)]="view"
  [(viewDate)]="viewDate"
  (viewDateChange)="fetchEvents()"
  (viewChange)="fetchEvents()"
>
</mwl-demo-utils-calendar-header>

<ng-template #loading>
  <div class="text-center">
    <i class="fas fa-spin fa-spinner fa-5x"></i> <br />
    Loading events...
  </div>
</ng-template>

<ng-template #customCellTemplate let-day="day" let-locale="locale">
  <div class="cal-cell-top">
    <mat-icon
      (click)="openDialog(day.date)"
      class="add-icon"
      aria-hidden="false"
      fontIcon="add"
    ></mat-icon>

    <span class="cal-day-number">{{
      day.date | calendarDate: "monthViewDayNumber":locale
    }}</span>
  </div>
  <div class="event-container">
    <div *ngFor="let event of day.events; let i = index">
      <app-event-display
        (fetchEvent)="fetchEvents()"
        [event]="event"
      ></app-event-display>
    </div>
  </div>
</ng-template>

<div class="calendar-container" *ngIf="isLoaded; else loading">
  <div [ngSwitch]="view">
    <mwl-calendar-month-view
      *ngSwitchCase="'month'"
      [viewDate]="viewDate"
      [events]="events"
      [cellTemplate]="customCellTemplate"
    >
    </mwl-calendar-month-view>
  </div>
</div>
