<div class="row justify-content-center my-5">
  <div class="col-6">
    <ng-container
      *ngIf="{ coach: $coach | async, error: $error | async } as vm"
    >
      <div *ngIf="!vm.error && vm.coach as coach; else loading">
        <div *ngIf="!vm.coach.linked" class="row justify-content-center">
          <p>Coach:</p>
          <p>
            <b>{{ coach.coachMail }}</b>
          </p>
          <p>has invited you to become one of their athletes!</p>
          <div class="button-container">
            <button
              mat-raised-button
              (click)="acceptInvitation(coach.coachMail, coach.athleteMail)"
            >
              Accept invitation
            </button>
            <button
              mat-raised-button
              (click)="declineInvitation(coach.coachMail, coach.athleteMail)"
            >
              Decline invitation
            </button>
          </div>
        </div>
        <div *ngIf="vm.coach.linked" class="row justify-content-center">
          <p>Your coach is:</p>
          <p>
            <b>{{ coach.coachMail }}</b>
          </p>
        </div>
      </div>
      <div *ngIf="vm.error as error">
        <p>You are currently not assigned to a coach!</p>
      </div>
      <ng-template #loading>
        <div *ngIf="!vm.error">
          <div class="row justify-content-center my-5">
            <mat-spinner></mat-spinner>
          </div>
        </div>
      </ng-template>
    </ng-container>
  </div>
</div>
