<ng-template #loadingOrError>
  <ng-container *ngIf="errorObject; else loading">
    <div class="row justify-content-center">
      <p>
        You currently have no coach assigned to you, a coach can invite you
        should they wish to do so.
      </p>
    </div>
  </ng-container>
  <ng-template #loading>
    <div class="row justify-content-center my-5">
      <mat-spinner></mat-spinner>
    </div>
  </ng-template>
</ng-template>

<div class="row justify-content-center my-5">
  <div class="col-6">
    <div *ngIf="$coach | async as coach; else loadingOrError">
      <div *ngIf="!coach.linked" class="row justify-content-center">
        <p>Coach:</p>
        <p>
          <b>{{ coach.email }}</b>
        </p>
        <p>has invited you to become one of their athletes!</p>
        <div class="button-container">
          <button mat-raised-button (click)="acceptInvitation()">
            Accept invitation
          </button>
          <button mat-raised-button (click)="declineInvitation()">
            Decline invitation
          </button>
        </div>
      </div>
      <div *ngIf="coach.linked" class="row justify-content-center">
        <p>Your coach is:</p>
        <p>{{ coach.email }}</p>
      </div>
    </div>
  </div>
</div>
