<nav class="navbar navbar-expand-sm navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="/calendar">Crux Route</a>

    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div
      id="navbarContent"
      class="collapse navbar-collapse justify-content-between"
    >
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="/signUp"
            routerLinkActive="active"
            *ngIf="!isAuthenticated"
            >Sign up</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="/signIn"
            routerLinkActive="active"
            *ngIf="!isAuthenticated"
            >Sign in</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="/calendar"
            routerLinkActive="active"
            *ngIf="isAuthenticated"
            >Calendar</a
          >
        </li>
        <li class="nav-item"></li>
      </ul>
      <div *ngIf="isAuthenticated" class="my-profile-container">
        <button mat-button [matMenuTriggerFor]="menu">My Profile</button>
        <mat-menu #menu="matMenu">
          <a
            mat-menu-item
            class="nav-link"
            routerLink="/profile"
            routerLinkActive="active"
            >Profile Settings</a
          >
          <a
            mat-menu-item
            class="nav-link"
            routerLink=""
            (click)="signOut()"
            *ngIf="isAuthenticated"
            >Sign out</a
          >
        </mat-menu>
      </div>
    </div>
  </div>
</nav>

<router-outlet></router-outlet>
