/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import "~bootstrap/scss/bootstrap";

html,
body {
  height: 100%;
}
body {
  margin: 1.5rem;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.cal-month-view .cal-day-cell.cal-in-month.cal-has-events {
  cursor: default !important;
}
